In [1]:
import sklearn
import nltk
import pandas as pd
import numpy as np

In [2]:
#import data train

train = pd.read_csv("train.csv")
train = train[['text_a', 'label']]
train['label'] = train['label'].replace(["no", 'yes'], [0, 1])
train.head()

                                              text_a  label
0  betewe buka twitter cuman ngetweet liat home b...      0
1  mas piyuuu mugo2 corona tuh mulut tersumpal ma...      0
2  e100ss gini buka informasi sejelas nya identit...      1
3  neng solo wes ono terduga corona cobo neng ati...      0
4  midiahn nii akun gak takut takut nya isu coron...      0

In [3]:
#import data test
test = pd.read_csv("test.csv")
test = test[['text_a', 'label']]
test['label'] = test['label'].replace(["no", 'yes'], [0, 1])
test.head()

                                              text_a  label
0                            jek dajal ga depok bang      0
1  detikcom untung depok masuk wilayah nya ridwan...      0
2  df dom jakarta depok yg gunain vc cabang nya c...      0
3                                  your2rl depok jkt      0
4  doakan indonesia selamat virus corona pkb depo...      1

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21601 entries, 0 to 21600
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text_a  21601 non-null  object
 1   label   21601 non-null  int64
dtypes: int64(1), object(1)
memory usage: 337.6+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text_a  2800 non-null   object
 1   label   2800 non-null   int64
dtypes: int64(1), object(1)
memory usage: 43.9+ KB

In [6]:
train.isnull().sum()

text_a    0
label     0
dtype: int64

In [7]:
train['label'].value_counts()

0    15512
1     6089
Name: label, dtype: int64

In [8]:
test.isnull().sum()

text_a    0
label     0
dtype: int64

In [9]:
test['label'].value_counts()

0    2093
1     707
Name: label, dtype: int64

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = CountVectorizer(binary=True, stop_words = 'english')
vectorizer.fit(list(test["text_a"]), list(train['text_a']))
vectorizerTFIDF = TfidfVectorizer(binary = True, stop_words = 'english')
vectorizerTFIDF.fit(list(test["text_a"]), list(train['text_a']))

x_train_vec = vectorizer.transform(train['text_a'])
x_test_vec = vectorizer.transform(test['text_a'])

x_train_vec_tfidf = vectorizerTFIDF.transform(train['text_a'])
x_test_vec_tfidf = vectorizerTFIDF.transform(test['text_a'])

### svm kernel  radial basis function

In [ ]:
#svm model model rbf
from sklearn import svm
svm_rbf = svm.SVC(kernel = 'rbf')
svm_rbf.fit(x_train_vec, train['label'])

y_test_pred = svm_rbf.predict(x_test_vec)
y_test_pred_tfidf = svm_rbf.predict(x_test_vec_tfidf)

In [16]:
#accuracy
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(test['label'], y_test_pred)
accuracy_tfidf = accuracy_score(test['label'], y_test_pred_tfidf)
print('accuracy_score:', accuracy)
print('accuracy_score:', accuracy_tfidf)

NameError: name 'svm_rbf' is not defined

In [14]:
#confusion matrix
from sklearn.metrics import confusion_matrix
confusion_Matrix = confusion_matrix(test['label'], y_test_pred)
confusion_Matrix

array([[2008,   85],
       [ 283,  424]], dtype=int64)

In [15]:
#F1 score
from sklearn.metrics import f1_score
f1 = f1_score(test['label'], y_test_pred)
f1

0.6973684210526316